<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %> </p>
<p class="lead mb-3">Email is  <%= email %> </p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>



<br><br>
<form action = "/createBookEntry/<%=name%>" class="form-horizontal " method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Book Title</label>
    <input type="text" class="form-control" name="title" placeholder="Enter Book Title">

  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<p> Book Titles </p>


<% for(var i=0; i < result.Books.length; i++) { %>
<%= result.Books[i] %>
<br>
<% } %>
